*, *:before, *:after {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Alata', sans-serif;
}

/*font-family: 'Josefin Sans', sans-serif;*/

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



/* Mobile */

header {
  background-image: url(./images/mobile/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*width: 23.438rem;/*REMOVE THIS AFTER*/
  
}


.hero-container {
  width: 20.438rem;
  padding: 1.6em 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}



nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 375px;/*REMOVE THIS AFTER??*/
  background-color: #000000;
  height: 100vh;
  z-index: 2;
  padding: 1.6em;
  display: flex;
  flex-direction: column;
  
  transform: translateX(100%);
  transition: transform .3s;

}
.menu-btn {
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

.top-menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  
}

.top-menu .logo  {
  width: 9rem;
  height: 1.5rem;
}

.top-menu img {
  width: 9rem;
  height: 1.5rem;
}

.top-menu .exit-btn {
  width: 1.25rem;
  height: 1.25rem;
  
}

.menu ul {
  padding-bottom: 13.938rem;;
}

.menu ul li {
  margin-bottom: 1em;
}

.menu ul li a {
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.04em;
  text-transform: uppercase;
 
}


.heading {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  border: solid white 2px;
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 2.5rem;
  font-weight: 300;
  color: #ffffff;
  line-height: 0,95em;
  height: 12.25rem;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-left: .9em;
  text-transform: uppercase;
}

/* Main */

/* Interactive */

main {
  margin: 6rem 0;
  width: 375px;
  
}

.interactive {
  margin: 0 auto;
  width: 20.438rem;
  
}

.interactive-content h2 {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}


.interactive-content p {
  font-size: 0.938rem;
  font-weight: 400;
  margin-bottom: 6rem;
  line-height: 1.6em;
  text-align: center;
}

/* Gallery */

.grid-title {
  margin-bottom: 3rem;
}

.gallery-container {

  margin: 0 auto;
  
  width: 20.438rem;
  
}

.gallery-content {
  position: relative;
  
 
}

.gallery {
  display: block;
  
  width: 100%;
}

.grid-title {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
}

.gallery-content h3 {
  color:#ffffff;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 20px;
  
}

.gallery .desktop {
  display: none;

}

.gallery-content .mobile {
  box-shadow: 0px 4px 4px #000000;
  display: block;
  height: 7.5rem;
  margin-bottom: 1.5rem;
  width: auto;
}
/*
.gallery .gradient {
  display: relative;
  display: inline-block;
}

.gallery .gradient:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  bottom: 100;
  right: 100%;
  width: 100%;
  height: 100%;
  background: rgb(151,151,151);
  background: linear-gradient(220deg, rgba(151,151,151,1) 0%, rgba(216,216,216,1) 100%);
  z-index: -1;
}*/

.grid-btn {
  display: flex;
  justify-content: center;
}

.gallery-container button {
  border: solid 1px #000000;
  background-color: #ffffff;
  color: #000000;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;;
  margin-top: 1em;
  letter-spacing: 0.357em;
  line-height: 1em;
  padding: 0.92em 3em 0.92em 2.7em;
  text-align: left;
  text-transform: uppercase;
}

/* Footer */

footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0;
  width: 375px;


}

.footer-nav .logo  {
  height: 1.5rem;
  margin-bottom: 2rem;
  width: 9rem;
  text-align: center;
}



.footer-menu li {
  margin-bottom: 1.06em;
  text-align: center;
}

.footer-menu li a {
  color: #ffffff;
  font-size: 0.838rem;
  line-height: 1.6em;
  
}

footer .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links .social {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  margin-bottom: 1.8rem; 
  width: 9rem;
}

.links .social a img {
  color: #c2baba;
  height: 1.219rem;
  width: 1.5rem;
  
}

.links .copy {
  margin-bottom: 1.9em;
}
.links .copy p {
  color: #ffffff;
  font-size: 0.938rem;
  line-height: 121%;
  opacity: 50%;
}

.attribution { 
  color: #ffffff;
  font-size: 0.688rem; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 26%, 59%); 
}


/* Desktop Styles */

@media screen and (min-width: 900px) {

  html {
    font-size: 22px;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    width: 1250px; /*69.375rem;*/
    padding-top: 4em;
  }

  .hero-container nav {
    height: 2rem;
  }

  nav .logo {
    height: 2rem;
    width: 13rem;
  }

  .menu-btn, .menu .top-menu {
    display: none;
  }

  nav .menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.875rem;
    margin: 0;
    width: 25.3rem;
    padding: 0;

    
  }

  nav .menu   {
    transform: translateX(0);
    width: unset;
    background: none; 
    display: flex;
    position: unset;
    padding: 0;
  }

  nav .menu ul li {
   margin: 0;

  }

  nav .menu ul li a {
    font-size: 0.938rem;
    line-height: 121%;
    text-transform: unset;
  }

  .heading {
    height: 17.375rem;
    justify-content: left;
    align-items: center;
    
  }

  .heading-content {
    font-size: 4.5rem;
    height: 12rem; /*12.375rem;*/
    width: 28rem;
    text-align: left;
    
  }

}






















